<style>
*{}
.widget-title{
  background-color: #fff;
font-size: 34px;
font-weight: 700;
line-height: 24px;
padding: 0;
margin: 0 0 30px;
 color:#fff;
  font:normal 24px/26px sans-serif;
  position: relative;
  text-transform:uppercase;
}
.title-text,
title-right{
font-size: 18px;
/*font-weight: 700;*/
line-height: 24px;}
.title-text{
display: inline-block;
background-color: #0B5394;
position: relative;
z-index: 1;
padding: 14px 25px 10px 35px;
float: left;
margin-right: 36px;
border-top-left-radius:3px;
border-bottom-left-radius:3px;}

.triangle-right{
position: absolute;
top: 0px;
right: -30px;
border-bottom: 48px solid #0B5394;
border-left: 0px solid transparent;
border-right: 30px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}
.triangle-left {
position: absolute;
top: 10px;
right: -36px;
border-top: 38px solid #1c1c1c;
border-left: 24px solid transparent;
border-right: 0px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;
}
.triangle-bottom{
 position: absolute;
bottom: -15px;
left: 25px;
border-top: 20px solid #0B5394;
border-left: 20px solid transparent;
border-right: 0px solid transparent;
display: block;
height: 0;
width: 0;
transition: border 0.3s ease-in-out 0s;
-moz-transition: border 0.3s ease-in-out 0s;
-webkit-transition: border 0.3s ease-in-out 0s;}
.title-right{
background-color: #1c1c1c;
display: block;
height: 38px;
top:10px;
margin-top: 0px;
overflow: hidden;
text-indent: -99999px;
position: relative;
border-top-right-radius:3px;
}
.load-more{font-family: sans-serif;
font-size: 15px;
color: #fff;
text-transform: uppercase;
  font-weight:lighter;
position: absolute;
  text-decoration:none;
top: 28px;
right: 15px;}
.load-more:hover{color:#f00;}
</style>

<div><h3 class="widget-title clearfix">
 <span class="title-text">TRADE DEVELOPER PORTAL
 <span class="triangle-right"></span>
 <span class="triangle-left"></span>
 <span class="triangle-bottom"></span>
</span>
<span class="title-right"></span>
</h3>
  <a class="load-more" href="#">ITA on Github</a>
  </div>